/*Fonts*/
@font-face {
    font-family: 'SoberanaSans';
    src: url('fonts/SoberanaSans-Bold-webfont.eot');
    src: url('fonts/SoberanaSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SoberanaSans-Bold-webfont.woff2') format('woff2'),
         url('fonts/SoberanaSans-Bold-webfont.woff') format('woff'),
         url('fonts/SoberanaSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/SoberanaSans-Bold-webfont.svg#soberana_sans_lightbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'SoberanaSans';
    src: url('fonts/SoberanaSans-Italic-webfont.eot');
    src: url('fonts/SoberanaSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SoberanaSans-Italic-webfont.woff2') format('woff2'),
         url('fonts/SoberanaSans-Italic-webfont.woff') format('woff'),
         url('fonts/SoberanaSans-Italic-webfont.ttf') format('truetype'),
         url('fonts/SoberanaSans-Italic-webfont.svg#soberana_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'SoberanaSans';
    src: url('fonts/SoberanaSans-Regular-webfont.eot');
    src: url('fonts/SoberanaSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SoberanaSans-Regular-webfont.woff2') format('woff2'),
         url('fonts/SoberanaSans-Regular-webfont.woff') format('woff'),
         url('fonts/SoberanaSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/SoberanaSans-Regular-webfont.svg#soberana_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'SoberanaTexto';
    src: url('fonts/SoberanaTexto-Bold-webfont.eot');
    src: url('fonts/SoberanaTexto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SoberanaTexto-Bold-webfont.woff2') format('woff2'),
         url('fonts/SoberanaTexto-Bold-webfont.woff') format('woff'),
         url('fonts/SoberanaTexto-Bold-webfont.ttf') format('truetype'),
         url('fonts/SoberanaTexto-Bold-webfont.svg#soberana_textobold') format('svg');
    font-weight: bold;
    font-style: normal;

}


html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; }
img { border: 0px; font-family: "SoberanaSans", Helvetica, arial, sans-serif;}
/* Force the vertical scrollbar in FF */
html { overflow-y: scroll; }

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix { height: 1%;}
.clearfix {display: block;}

/*p.excerpt { -moz-column-count: 2; -moz-column-gap: 50px; -webkit-column-count: 2; -webkit-column-gap: 50px; font-size:17px; line-height:28px; text-align:justify;}*/

body {
	background-color:#FFF;
	font-family: 'SoberanaSans', sans-serif;
	font-size: 16px;
}

#dgp {
	background-color:#FFF;
	height:60px;
	margin-left: 10%;
}

#dgp img{
	margin-top: 5px;
}


#nav {
	background-color: #fff;
	width:100%;
	z-index:110;
	position:fixed;
	text-align:center;
	display:none;
	-webkit-box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.75);
}

input {
    -webkit-appearance: none;
}

#navitems {
	width:1024px;
	height:50px;
	margin:0 auto;
}

#navitems ul {
	padding-top:12px;
}

#nav ul li {
	margin-right:25px;
	font-size:19px;
	display:inline;
}

#nav ul li a {
	color: #2a2a2a;
	text-decoration:none;
	padding:18px;
	outline:none;
	font-weight:normal;
}

.contentsection {
	width:100%;
	padding-top:50px;
	padding-bottom:50px;
	position:relative;
	z-index:10;
	min-height:300px;
	overflow:hidden;
	background-color:#2a2a2a;
}

.content {
	width:1024px;
	margin:0 auto;
	position:relative;
	z-index:100;
}


.contentsection#header {
	background: url(../images/dia-del-libro.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#FFF;
	padding-top:75px;
	padding-bottom:120px;
	color: #FFF;

}

#header h1 {
	font: normal 2em/1em "SoberanaSans";
	margin: 100px 0 24px 0;
	text-align: center;
	text-transform: none;
	margin-bottom:0.5em;
}


#header h2 {
	font: normal 2.5em/1em "SoberanaTexto";
	text-transform: uppercase;
	letter-spacing: 0.3em;
	text-align: center;
	padding-bottom:0.5em;
	padding-top:0.5em;
	color: #fff;
	border-top: 6px dotted #fff;
	border-bottom: 6px dotted #fff;
}

#header h2 b{
	font: normal 2em/1em "SoberanaSans";
	letter-spacing: 0;
	text-transform: none;
	text-align: center;
	margin-bottom:5px;
	margin-top:5px;
	color: #fff;
}

#header h3 {
	font: normal 1.5em/1em "SoberanaSans";
	margin: 24px 0 24px 0;
	text-align: center;
	text-transform: none;
	margin-bottom:5px;
	color: #fff;
}

#header p a {
	margin-bottom:15px;
	color:#fff;
}

#header p.intro {
	font-weight: 700;
	text-transform:uppercase;
}

.socialmedia img {
	width:45px;
	height:auto;
}

#header .arrow {
	position:relative;
	top:25px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	opacity:.9;
	width:100px;
	margin:0 auto;
}

#header .arrow:hover {
	opacity:1.0;
}

.stripe {
	position:absolute;
	height:100%;
	width:3%;
	background-color:#FFF;
	top:0;
	right:3%;
}

#header p {
	font-size:1em;
	text-align:center;
	font-family: 'SoberanaSans', sans-serif;
	/* color: #fff; */
}

#header .subtext {
	font:italic 200 29px/60px 'SoberanaSans';
}

#header p.subtext {
	margin-bottom:20px;
}

#lineset {
	margin-top:50px;
	margin-bottom:40px;
}

#linesleft {
	width:40%;
	float:left;
	border-bottom:dashed 1px #E5DEC5;
	margin-top:40px;
}

#linesright {
	width:40%;
	float:right;
	border-bottom:dashed 1px #E5DEC5;
	margin-top:40px;
}

#dates {
	padding-top:54px;
	border-radius:7px;
	width:131px;
	height:121px;
	float:left;
	margin:0 0 0 40px;
	margin-top:-35px;
	margin-bottom:-15px;
	text-align:center;
	color:#FFF;
	background:url(../images/cal.png) no-repeat;
}

#dates .month {
	font-size:20px;
	display:block;
	margin-bottom:0px;
	font-weight:bold;
}

#header .bignumber {
	font-size:72px;
	color:#E8E564;
	font-weight:900;
	line-height:70px;
}

#header p.location {
	font-size: 1.2em;
	margin-top:100px;
	font-weight:normal;
	color: #FFF;
}

h2 {
	font-size:50px;
	margin-bottom:20px;
}

h3 {
	font-size:30px;
	margin-bottom:20px;
	color:#2a2a2a;
}

h4 {
	font-size:25px;
	margin-bottom:20px;
	color:#2a2a2a;
}

h5 {
	font-size:20px;
	margin-bottom:20px;
	color:#2a2a2a;
}

p {
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}

ul {
	list-style-position: inside;
}

.contentsection a:hover {
	text-decoration:underline;
}

/* Dark */
.dark {
	color: #626262;
	background-color: #fff;
	border-bottom: 3px dotted black;
}
/* -- */

/* Yellow */

.yellow {
	background-color:#FDBD12;
	padding-top:80px;
}

.yellow h2 {
	color:#2A2A2A;
}

.yellow p {
	color:#2a2a2a;
}

/* Red */

.red {
	background-color: #9D0E5F;
	padding-top:80px;
}

.red h2 {
	color:#DB6270;
}

.red h3 {
	color:#fff;
}

.red p {
	color:#fff;
}

/* Beige */

.beige {
	background: url(../images/dia-del-libro.jpg) no-repeat center center fixed; 
	/* -webkit-background-size: cover; */
	-moz-background-size: cover;
	-o-background-size: cover;
	/* background-size: cover; */
	position: relative;
	overflow: hidden;
	color: #FFF;
	background-color: #7E0C6E;
}


.beige .sectioninfo a {
	color: #fff;
	font-size: 1.2em;
	/* font-weight:bold; */
	text-decoration:none;
}

.beige a:hover {
	text-decoration:underline;
}

/* Green */

.green {
	background-color:#A0D36E;
}

.green h2 {
	color:#DAEDC7;
}

.green p {
	color:#fff;
}

.green a {
	color:#2a2a2a;
	font-weight:bold;
	text-decoration:none;
}

/* -- */

.block1 {
	height:300px;
	margin-top:30px;
}

.sectioninfo {
	position:fixed;
	top:112px;
	width:350px;
}

.sectioninfo.relative {
	position:absolute;
	left:0;
	top:0;
}

a {
	color: #FFF;
	/* font-weight:bold; */
	text-decoration:none;
}

.normalcontent {
	width:55%;
	float:right;
}

img {
	max-width:100%;
 
}

img.author {
	border:1px solid #;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px; 
}


figcaption {
	font-size: 50%;
}

#map_canvas img {
	max-width:none;
}


.person .back p {
	padding:20px;
	border-radius:10px;
	margin:60px auto;
	background-color:#141414;
	width:60%;
	text-align:center;
	line-height:22px;
}

.person .name {
	display:block;
	margin-bottom:10px;
	font-size:24px;
	line-height:30px;
}

.person .title {
	display:block;
	font-size:14px;
}

.person .flipicon {
	display:block;
	position:absolute;
	top: 8px;
	right: 8px;
	width:29px;
	height:29px;
}

/* entire container, keeps perspective */
.person {
  perspective: 1000;
  float:left;
  overflow:hidden;
  margin-right:10px;
  margin-bottom:10px;
  border: transparent;
  cursor:pointer;
  border:dashed 1px #E5DEC5;
}
  /* flip the pane when hovered */
  .person:hover .flipper, .person.hover .flipper {
    transform: rotateY(180deg);
  }

.person, .front, .back {
  width: 269px;
  height: 404px;
  position:relative;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color:#000;
}

/* Video */
.videoplayer {
	margin-top:30px;
	margin-bottom:30px;
	border: solid 12px #FCC949;
}

.videoplayer iframe {
	border:none;
}

/* Sections */

#projects .project {
	border-radius:2px;
	display:block;
	width:30%;
	margin:0 10px 10px 0px;
	height:auto;
	position:relative;
	float:left;
	overflow:hidden;
	border: solid 12px #FCC949;
}

#projects img {
	width:100%;
	height:243px;
	vertical-align:bottom;
}

#project a {
	display:block;
}

#projects .project .zoomer {
	display:block;
	position:absolute;
	bottom: 0px;
	right: 0px;
	width:50px;
	height:49px;
}

/* Agenda */

.agendaitem {
	padding:0 0 0 0;
	width:100%;
	text-align:center;
	color:#2a2a2a;
	margin-bottom:40px;
	background-color:#fff;
	z-index: 200;
	position: relative;
}

.agendaitem p {
	font-size:18px;
	line-height:25px;
}

.agendaitem .time {
	font-size:19px;
	/* font-style: italic; */
	font-family:'SoberanaSans';
	margin-bottom:15px;
}

.agendadaydate {
	padding:20px 0 20px 0;
	margin-bottom:20px;
	text-align:center;
	background-color: #990066;
	position:relative;
}

.agendadaydate .month {
	font-size:26px;
	display:block;
	margin-bottom:10px;
	font-weight:bold;
	color:#fff;
	position:relative;
	z-index:12;
}

.agendadaydate .bignumber {
	font-size:90px;
	color:#fff;
	font-weight:900;
	line-height:70px;
	position:relative;
	z-index:12;
}

.agendadaydate .filter {
	opacity:.2;
}

.session {
	margin-bottom:0px;
	padding:20px;
	border-bottom: dashed 1px #E5DEC5;
	background-color:#fff;
}

.session:last-child {
	border-bottom:none;
	margin-bottom:0;
}

.contentsection .session h3 {
	color: #990066;
	margin-bottom:5px;
	font-size:20px;
}

.session a {
	color:#990066;
}

/* Map */

#map_canvas {
	width:100%;
	height:600px;
	border: solid 12px #333232;
	margin-top:40px;
}

/* Registration */

.normalcontent form {
	margin-top:20px;
}

.normalcontent form label {
	display:block;
	margin-bottom:10px;
	font-size:18px;
	color:#fff;
}

.normalcontent form input {
	display:block;
	width:90%;
	margin-bottom:20px;
	border: solid 3px #DB6270;
	padding:20px;
	font-size:18px;
	color:#2a2a2a;
}

.normalcontent form input.submit {
    background-color: #007CAD;
    background-image: -moz-linear-gradient(center top , #0089BF 0%, #007CAD 100%);
    border: 1px solid #007CAD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    display: block;
    font-family: 'SoberanaSans',sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 15px 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
	cursor:pointer;
	width:98%;
}

/* Sponsors */

.sponsors {
	margin-top:50px;
	padding-top:30px;
	border-top:dashed 1px #E5DEC5;
}

.sponsors img {
	width:47%;
	height:auto;
	margin-right:10px;
}

/* Footer */
.footercontent {
	width:1024px;
	margin:0 auto;
	padding:20px 0px 0px 0px;
}

.footercontent p {
	text-align: center;
	color:#fff;
	font-size:14px;
}
